.idea/
.vscode/

build*/

.DS_Store

*_old/
slides/package.json
slides/package-lock.json
blackbox/ADC_Training_Data/
blackbox/sympy/main.py

*.csv.bkup
*.pkl
__pycache__
slides/package.json
slides/package-lock.json
blackbox/ADC_Training_Data/
slides/package.json
slides/package-lock.json
blackbox/ADC_Training_Data/
slides/netlify.toml
slides/components/*
slides/.vite/*
slides/slidev/*
